<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bibliotopia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bibliotopia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Bibliotopia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Bibliotopia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bibliotopiadbserver.database.windows.net,1433;Initial Catalog=Bibliotopia_db;User ID=kirkwgraves@bibliotopiadbserver;Password=Dentek5317" Name="Data Source=tcp:bibliotopiadbserver.database.windows.net,1433;Initial Catalog=Bibliotopia_db;User Id=kirkwgraves@bibliotopiadbserver;Password=Dentek5317" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Bibliotopia_4._5._2.DAL.BibliotopiaContext, Bibliotopia-4.5.2" MigrationConfiguration="Bibliotopia_4._5._2.Migrations.Configuration, Bibliotopia-4.5.2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bibliotopiadbserver.database.windows.net,1433;Initial Catalog=Bibliotopia_db;User Id=kirkwgraves@bibliotopiadbserver;Password=Dentek5317</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>