<div>
  <input type="text" ng-model="searchCtrl.searchText" />
  <a class="green waves-effect waves-light btn" ng-click="searchCtrl.searchByTitle()" id="search-button"><i class="material-icons left">cloud</i>Search by Title</a>
</div>

<div class="row">
  <div id="search-output" class="col s4 offset-s4">
    <div class="card light-blue" ng-repeat="book in searchCtrl.bookTitleList">
      <div class="card-image">
        <img id="book-img" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}">
      </div>
      <div class="card-content white-text">
        <h4>{{ book.volumeInfo.title }}</h4>
        <h5>{{ book.volumeInfo.subtitle }}</h5>
        <h5>{{ book.volumeInfo.authors[0] }}</h5>
      </div>
      <div class="card-action">
        <a class="white-text" href="#">View Detail</a>
      </div>
    </div>
  </div>
</div>
