<div id="search-container">
  <div class="search-input-div">
    <input placeholder="Search for books by title" type="text" ng-model="searchCtrl.searchTitleText" />
    <a class="green waves-effect waves-light btn" ng-click="searchCtrl.searchByTitle()" id="search-button" style="width:161px;"><i class="material-icons left">cloud</i>Title</a>
  </div>
  <div class="search-input-div">
    <input placeholder="Search for books by author" type="text" ng-model="searchCtrl.searchAuthorText" />
    <a class="orange waves-effect waves-light btn" ng-click="searchCtrl.searchByAuthor()" id="search-button" style="width:161px;"><i class="material-icons left">cloud</i>Author</a>
  </div>
  <div class="search-input-div">
    <input placeholder="Search for books by subject" type="text" ng-model="searchCtrl.searchSubjectText" />
    <a class="blue darken-4 waves-effect waves-light btn" ng-click="searchCtrl.searchBySubject()" id="search-button"><i class="material-icons left">cloud</i>Subject</a>
  </div>
  <a id="clear-button" class="red waves-effect waves-light btn" ng-click="searchCtrl.clear()" id="search-button">Clear</a>
  <div class="row">
    <div id="search-output" class="col s4 offset-s4">
      <div class="card light-blue search-card" ng-repeat="book in searchCtrl.bookTitleList">
        <div class="card-image">
          <img id="book-img" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}">
        </div>
        <div class="card-content white-text">
          <h4>{{ book.volumeInfo.title }}</h4>
          <h5><em>{{ book.volumeInfo.subtitle }}</em></h5>
          <h5><strong>{{ book.volumeInfo.authors[0] }}</strong></h5>
        </div>
        <div class="card-action">
          <a class="white-text" href="#">View Detail</a>
          <a class="btn-floating btn-large waves-effect waves-light red" ng-click="searchCtrl.addToFavorites(book)"><i class="material-icons">add</i></a>
          <a class="btn-floating wishlist-button btn-large waves-effect waves-light yellow" ng-click="searchCtrl.addToRead(book)"><i class="material-icons">visibility</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
