body {
    padding-top: -75px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#splash-img {
  width: 100%;
}

#search-container {
  margin-top: 40px;
}

#search-output {
  display: inline;
}

.search-card {
  width: 125%;
}

.search-input-div {
  padding-left: 50px;
}

#clear-button {
 margin-left: 50px;
}

#book-img {
  padding-left: 40px;
  padding-top: 20px;
  width:200px; 
  height:250px
}

.btn-floating {
  margin-left: 280px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#splash-img {
  width: 100%;
}

footer {
  position: fixed;
  padding-top: 15px;
  height: 50px;
  width: 100%;
  color: white;
}

