@{
    ViewData["Title"] = "Home Page";
}
<div class="parallax-container">
  <div class="parallax"><img src="~/images/Book.jpg"></div>
</div>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="~/images/creative-bookshelves-11-21.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">A Universe of Books<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Create a Free Account</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">A Universe of Books<i class="material-icons right">close</i></span>
        <p>
          Bibliotopia gives users access to a universe of books. Search from among millions of digital volumes,
          create personal libraries to keep track of what you read and what you plan to read, rate and review books,
          and connect with other users to see what they're reading.
        </p>
        <img src="~/images/joyce-and-ulysses-covers.jpg" style="width: 200px; height: 300px; margin-left: auto; margin-right: auto;" />
        <img src="~/images/lolita.jpg" style="width: 200px; height: 300px; display: inline-block; margin-left: auto; margin-right: auto;" />
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" style="padding-top: 77px;" src="~/images/google-books.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Powered by the Google Books API<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Start Building Your Reading Nook</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>Bibliotopia leverages the Google Books API to give readers access to millions of digital titles.</p>
      </div>
    </div>
  </div>
</div>

